.n1 {
  color: #01ff00;
}
.n2 {
  color: #02fe00;
}
.n3 {
  color: #03fd00;
}
.n4 {
  color: #04fc00;
}
.n5 {
  color: #05fb00;
}
.n6 {
  color: #06fa00;
}
.n7 {
  color: #07f900;
}
.n8 {
  color: #08f800;
}
.n9 {
  color: #09f700;
}
.n10 {
  color: #0af600;
}
.n11 {
  color: #0bf500;
}
.n12 {
  color: #0cf400;
}
.n13 {
  color: #0df300;
}
.n14 {
  color: #0ef200;
}
.n15 {
  color: #0ff100;
}
.n16 {
  color: #10f000;
}
.n17 {
  color: #11ef00;
}
.n18 {
  color: #12ee00;
}
.n19 {
  color: #13ed00;
}
.n20 {
  color: #14ec00;
}
.n21 {
  color: #15eb00;
}
.n22 {
  color: #16ea00;
}
.n23 {
  color: #17e900;
}
.n24 {
  color: #18e800;
}
.n25 {
  color: #19e700;
}
.n26 {
  color: #1ae600;
}
.n27 {
  color: #1be500;
}
.n28 {
  color: #1ce400;
}
.n29 {
  color: #1de300;
}
.n30 {
  color: #1ee200;
}
.n31 {
  color: #1fe100;
}
.n32 {
  color: #20e000;
}
.n33 {
  color: #21df00;
}
.n34 {
  color: #22de00;
}
.n35 {
  color: #23dd00;
}
.n36 {
  color: #24dc00;
}
.n37 {
  color: #25db00;
}
.n38 {
  color: #26da00;
}
.n39 {
  color: #27d900;
}
.n40 {
  color: #28d800;
}
.n41 {
  color: #29d700;
}
.n42 {
  color: #2ad600;
}
.n43 {
  color: #2bd500;
}
.n44 {
  color: #2cd400;
}
.n45 {
  color: #2dd300;
}
.n46 {
  color: #2ed200;
}
.n47 {
  color: #2fd100;
}
.n48 {
  color: #30d000;
}
.n49 {
  color: #31cf00;
}
.n50 {
  color: #32ce00;
}
.n51 {
  color: #33cd00;
}
.n52 {
  color: #34cc00;
}
.n53 {
  color: #35cb00;
}
.n54 {
  color: #36ca00;
}
.n55 {
  color: #37c900;
}
.n56 {
  color: #38c800;
}
.n57 {
  color: #39c700;
}
.n58 {
  color: #3ac600;
}
.n59 {
  color: #3bc500;
}
.n60 {
  color: #3cc400;
}
.n61 {
  color: #3dc300;
}
.n62 {
  color: #3ec200;
}
.n63 {
  color: #3fc100;
}
.n64 {
  color: #40c000;
}
.n65 {
  color: #41bf00;
}
.n66 {
  color: #42be00;
}
.n67 {
  color: #43bd00;
}
.n68 {
  color: #44bc00;
}
.n69 {
  color: #45bb00;
}
.n70 {
  color: #46ba00;
}
.n71 {
  color: #47b900;
}
.n72 {
  color: #48b800;
}
.n73 {
  color: #49b700;
}
.n74 {
  color: #4ab600;
}
.n75 {
  color: #4bb500;
}
.n76 {
  color: #4cb400;
}
.n77 {
  color: #4db300;
}
.n78 {
  color: #4eb200;
}
.n79 {
  color: #4fb100;
}
.n80 {
  color: #50b000;
}
.n81 {
  color: #51af00;
}
.n82 {
  color: #52ae00;
}
.n83 {
  color: #53ad00;
}
.n84 {
  color: #54ac00;
}
.n85 {
  color: #55ab00;
}
.n86 {
  color: #56aa00;
}
.n87 {
  color: #57a900;
}
.n88 {
  color: #58a800;
}
.n89 {
  color: #59a700;
}
.n90 {
  color: #5aa600;
}
.n91 {
  color: #5ba500;
}
.n92 {
  color: #5ca400;
}
.n93 {
  color: #5da300;
}
.n94 {
  color: #5ea200;
}
.n95 {
  color: #5fa100;
}
.n96 {
  color: #60a000;
}
.n97 {
  color: #619f00;
}
.n98 {
  color: #629e00;
}
.n99 {
  color: #639d00;
}
.n100 {
  color: #649c00;
}
