.n1 {
  color: rgb(1, 255, 0);
}

.n2 {
  color: rgb(2, 254, 0);
}

.n3 {
  color: rgb(3, 253, 0);
}

.n4 {
  color: rgb(4, 252, 0);
}

.n5 {
  color: rgb(5, 251, 0);
}

.n6 {
  color: rgb(6, 250, 0);
}

.n7 {
  color: rgb(7, 249, 0);
}

.n8 {
  color: rgb(8, 248, 0);
}

.n9 {
  color: rgb(9, 247, 0);
}

.n10 {
  color: rgb(10, 246, 0);
}

.n11 {
  color: rgb(11, 245, 0);
}

.n12 {
  color: rgb(12, 244, 0);
}

.n13 {
  color: rgb(13, 243, 0);
}

.n14 {
  color: rgb(14, 242, 0);
}

.n15 {
  color: rgb(15, 241, 0);
}

.n16 {
  color: rgb(16, 240, 0);
}

.n17 {
  color: rgb(17, 239, 0);
}

.n18 {
  color: rgb(18, 238, 0);
}

.n19 {
  color: rgb(19, 237, 0);
}

.n20 {
  color: rgb(20, 236, 0);
}

.n21 {
  color: rgb(21, 235, 0);
}

.n22 {
  color: rgb(22, 234, 0);
}

.n23 {
  color: rgb(23, 233, 0);
}

.n24 {
  color: rgb(24, 232, 0);
}

.n25 {
  color: rgb(25, 231, 0);
}

.n26 {
  color: rgb(26, 230, 0);
}

.n27 {
  color: rgb(27, 229, 0);
}

.n28 {
  color: rgb(28, 228, 0);
}

.n29 {
  color: rgb(29, 227, 0);
}

.n30 {
  color: rgb(30, 226, 0);
}

.n31 {
  color: rgb(31, 225, 0);
}

.n32 {
  color: rgb(32, 224, 0);
}

.n33 {
  color: rgb(33, 223, 0);
}

.n34 {
  color: rgb(34, 222, 0);
}

.n35 {
  color: rgb(35, 221, 0);
}

.n36 {
  color: rgb(36, 220, 0);
}

.n37 {
  color: rgb(37, 219, 0);
}

.n38 {
  color: rgb(38, 218, 0);
}

.n39 {
  color: rgb(39, 217, 0);
}

.n40 {
  color: rgb(40, 216, 0);
}

.n41 {
  color: rgb(41, 215, 0);
}

.n42 {
  color: rgb(42, 214, 0);
}

.n43 {
  color: rgb(43, 213, 0);
}

.n44 {
  color: rgb(44, 212, 0);
}

.n45 {
  color: rgb(45, 211, 0);
}

.n46 {
  color: rgb(46, 210, 0);
}

.n47 {
  color: rgb(47, 209, 0);
}

.n48 {
  color: rgb(48, 208, 0);
}

.n49 {
  color: rgb(49, 207, 0);
}

.n50 {
  color: rgb(50, 206, 0);
}

.n51 {
  color: rgb(51, 205, 0);
}

.n52 {
  color: rgb(52, 204, 0);
}

.n53 {
  color: rgb(53, 203, 0);
}

.n54 {
  color: rgb(54, 202, 0);
}

.n55 {
  color: rgb(55, 201, 0);
}

.n56 {
  color: rgb(56, 200, 0);
}

.n57 {
  color: rgb(57, 199, 0);
}

.n58 {
  color: rgb(58, 198, 0);
}

.n59 {
  color: rgb(59, 197, 0);
}

.n60 {
  color: rgb(60, 196, 0);
}

.n61 {
  color: rgb(61, 195, 0);
}

.n62 {
  color: rgb(62, 194, 0);
}

.n63 {
  color: rgb(63, 193, 0);
}

.n64 {
  color: rgb(64, 192, 0);
}

.n65 {
  color: rgb(65, 191, 0);
}

.n66 {
  color: rgb(66, 190, 0);
}

.n67 {
  color: rgb(67, 189, 0);
}

.n68 {
  color: rgb(68, 188, 0);
}

.n69 {
  color: rgb(69, 187, 0);
}

.n70 {
  color: rgb(70, 186, 0);
}

.n71 {
  color: rgb(71, 185, 0);
}

.n72 {
  color: rgb(72, 184, 0);
}

.n73 {
  color: rgb(73, 183, 0);
}

.n74 {
  color: rgb(74, 182, 0);
}

.n75 {
  color: rgb(75, 181, 0);
}

.n76 {
  color: rgb(76, 180, 0);
}

.n77 {
  color: rgb(77, 179, 0);
}

.n78 {
  color: rgb(78, 178, 0);
}

.n79 {
  color: rgb(79, 177, 0);
}

.n80 {
  color: rgb(80, 176, 0);
}

.n81 {
  color: rgb(81, 175, 0);
}

.n82 {
  color: rgb(82, 174, 0);
}

.n83 {
  color: rgb(83, 173, 0);
}

.n84 {
  color: rgb(84, 172, 0);
}

.n85 {
  color: rgb(85, 171, 0);
}

.n86 {
  color: rgb(86, 170, 0);
}

.n87 {
  color: rgb(87, 169, 0);
}

.n88 {
  color: rgb(88, 168, 0);
}

.n89 {
  color: rgb(89, 167, 0);
}

.n90 {
  color: rgb(90, 166, 0);
}

.n91 {
  color: rgb(91, 165, 0);
}

.n92 {
  color: rgb(92, 164, 0);
}

.n93 {
  color: rgb(93, 163, 0);
}

.n94 {
  color: rgb(94, 162, 0);
}

.n95 {
  color: rgb(95, 161, 0);
}

.n96 {
  color: rgb(96, 160, 0);
}

.n97 {
  color: rgb(97, 159, 0);
}

.n98 {
  color: rgb(98, 158, 0);
}

.n99 {
  color: rgb(99, 157, 0);
}

.n100 {
  color: rgb(100, 156, 0);
}

/*# sourceMappingURL=2.css.map */
